# NOTE: ${neuroDir}, ${GATKPATH} and ${GATKREFPATH} are set in configs/BWA-GATK.environment.cfg
STARINDEX=GRCh38.dna.primary_assembly.fa.gz # name of the genome reference. Specifically, this one: https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/GRCh38.primary_assembly.genome.fa.gz
BUILD=GRCh38_GENCODE # Genome build used, this will be incorporated into file names.  Chromosome names start "chr"
STAR_index_dir=${neuroDir}/RefSeq/STAR/${BUILD} # Your genome reference path for STAR
GATKINDEX=hs38DH.fa # Base name of GATK indexes
GATK_BUILD=hs38DH # This is to fit with naming conventions used in other GATK pipelines.
Interval_BED=${neuroDir}/RefSeq/GFFandBEDfiles/GRCh38.gencode.49.150bp.pad.merged.bed # Made from: https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/gencode.v49.primary_assembly.basic.annotation.gff3.gz
DBSNP=dbsnp_146.hg38.vcf
OneKg_INDELS=Homo_sapiens.known_indels.hg38.vcf
OneKg_HC_SNPs=1000G_phase1.snps.high_confidence.hg38.vcf
Mills_INDELS=Mills_and_1000G_gold_standard.indels.hg38.vcf
Omni=1000G_omni2.5.hg38.vcf
Axiom=Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf
hapMap=hapmap_3.3.hg38.vcf
gVcfFolder=${neuroDir}/variants/gVCF/${GATK_BUILD} # A place to dump gVCFs for later genotyping