process.executor = 'slurm'

params {
    workDir = './work'
    gvcfFolder = './data/gvcf'
    cramFolder = './data/cram'
    logDir = './logs'
}

executor {
    name = 'slurm'
    queue = 'icelake,a100cpu'
    memory = '12 GB'
    cpus = 3
    time = '01:30:00'
}

process {
    withName: map_with_rg {
        memory = '32 GB'
        cpus = 8
        time = '08:00:00'
        errorStrategy = 'retry'
        maxRetries = 2
    }
    withName: merge_bams {
        memory = '16 GB'
        cpus = 8
        time = '02:00:00'
        errorStrategy = 'retry'
        maxRetries = 2
    }
    withName: bqsr_covariates {
        memory = '16 GB'
        cpus = 4
        time = '02:00:00'
    }
    withName: apply_bqsr {
        memory = '16 GB'
        cpus = 4
        time = '02:00:00'
    }
    withName: haplotype_caller {
        memory = '32 GB'
        cpus = 8
        time = '08:00:00'
    }
    withName: gather_gvcfs {
        memory = '8 GB'
        cpus = 2
        time = '01:00:00'
    }
    withName: collect_wgs_metrics {
        memory = '8 GB'
        cpus = 2
        time = '01:00:00'
    }
    withName: joint_genotyping {
        memory = '48 GB'
        cpus = 16
        time = '12:00:00'
    }
    withName: merge_vqsr {
        memory = '48 GB'
        cpus = 16
        time = '12:00:00'
    }
}

includeConfig 'configs/slurm.config'
includeConfig 'configs/pipeline.config'